* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color: #263954;
}
a {
    text-decoration: none;
}
.navbar {
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    list-style: none;
    background-color: #39537A;
}
nav {
    margin: -16px -8px;
    padding: 0px;
}
.nav-link{
    font-weight: 700;
    opacity: .75;
    position: relative;
    font-size: 64px;
    text-decoration: none;
    color: #76ADFF;
}
.navbar-item{
    color: #76ADFF;
}
.nav-link:hover {
    opacity: 1;
    color: azure
}

.nav-link::before {
transition: 500ms;
height: 5px;
content: "";
position: absolute;
background-color: rgb(2, 158, 225);
width: 0%;
bottom: 0px;
}

.nav-link:hover::before {
width: 100%;
}


/* Hackthons Page */
.hackathons_title {
    display: flex;
    justify-content: center;
    color: #FFE193;
    font-size: 48px;
}
.hackathon-card{
    background-color: #2E548E;
    width: 1400px;
    border-radius: 15px;
}
.upper-part-hackathons-cards {
    display: flex;
    flex-direction: row;
    padding: 10px 15px;
}
.city {
    color: #FFF2DE;
    display: flex;
    justify-content: end;
    width: 1400px;
    margin-right: 
}
.country {
    font-size: ;
}
.hackathons-card-contact-info {
    color: #FFF2DE;
    font-size: 32px;
}