* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color: #263954;
}
a {
    text-decoration: none;
}
.navbar {
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    list-style: none;
    background-color: #39537A;
}
nav {
    margin: -16px -8px;
    padding: 0px;
}
.nav-link{
    font-weight: 700;
    opacity: .75;
    position: relative;
    font-size: 50px;
    text-decoration: none;
    color: #76ADFF;
}
.navbar-item{
    color: #76ADFF;
}
.nav-link:hover {
    opacity: 1;
    color: #76ADFF;
}

.nav-link::before {
transition: 1000ms;
height: 5px;
content: "";
position: absolute;
background-color: rgb(163, 227, 255);
width: 0%;
bottom: 0px;
}

.nav-link:hover::before {
    width: 100%;
}

/* Hackthons Page */

.hackathons_title {
    display: flex;
    justify-content: center;
    color: #FFE193;
    font-size: 48px;
}
.hackathon-card{
    background-color: #2E548E;
    width: 90vw;
    margin: 5vw 4vw;
    border-radius: 15px;
    justify-content: center;
}

.same-line-hackathons-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left-half-hackathons-cards {
    display: flex;
    flex-direction: column;
}
.right-half-hackathons-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flag-country {
    display: flex;
    flex-direction: row;
    margin: 10px 10px;
    color: #FFF2DE;
}

.buttons {
    display: flex;
    justify-content: end;
    align-items: end;
    margin: 30px 10px 10px 10px;
    font-size: 42px;
}
button {
    height: 160px;
    width: 360px;
    font-size: 42px;
    margin: 0px 10px;
    background-color: #76ADFF;
    border-radius: 10px;
}
button:hover {
    height: 160px;
    width: 360px;
    font-size: 42px;
    background-color: #99C2FF;
    border-radius: 10px;
}
button:active {
    height: 160px;
    width: 360px;
    font-size: 42px;
    background-color: #D3E4FF;
    border-radius: 10px;
}
.city {
    color: #FFF2DE;
    display: flex;
    font-size: 42px;
    justify-content: end;
    margin-right: 10%;
}
.country {
    font-size: 60px;
    margin: 0px 20px;
}
.contact-info {
    color: #FFF2DE;
    font-size: 38px;
    margin: 10px 20px;
}

i {
    margin-right: 6px;
}

#button-icons {
    display: flex;
    flex-direction: column;
    align-items: start;
    transform: translateY(-60%);
}

/* About Us page */

.our-goal-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}
.our-goal { 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #76ADFF;
    border-radius: 15px;
    height: fit-content;
    width: 80vw;
}
.title-our-goal {
    font-size: 50px;
}
.text-our-goal {
    text-align: justify;
    font-size: 36px;
    margin: 10px 40px;
}
.ho-card {
    display: flex;
    justify-content: center;
    align-items: center;
}
.head-orga-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-color: #76ADFF;
    width: 80vw;
    border-radius: 15px;
}
.upper-part-head-orga-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    height: fit-content;
    width: 80vw;
}
.title-head-orga {
    font-size: 50px;
}
.head-orga {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
}
.image-ho {
    width: 25vw;
    height: 18vw;
    border-radius: 10px;
}
.head-orgas {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* Head Organizer 1 */

.info-about-ho {
    width: 25vw;
}
.name-of-ho {
    width: 24vw;
    color: #FFF2DE;
    background-color: #99C2FF;   
    text-align: center;
    padding: 0.5vw 0.51vw;
    border-radius: 10px 10px 0px 0px;
}
.text-about-ho {
    margin-top: -22px;
    background-color: #2E548E;
    border-radius: 0px 0px 10px 10px;
    font-size: 24px;
}
.text {
    margin: 0px 20px;
}

@media only screen and (max-width: 1380px) {
    .buttons {
        font-size: 28px;
    }
    button {
        height: 80px;
        width: 200px;
        font-size: 28px;
    }
    button:hover {
        height: 80px;
        width: 200px;
        font-size: 28px;
    }
    button:active {
        height: 80px;
        width: 200px;
        font-size: 28px;
    }
    .city {
        font-size: 32px;
    }
    .country {
        font-size: 50px;
    }
    .contact-info {
        font-size: 28px;
    }
}
@media only screen and (max-width: 958px) {
    button {
        height: 80px;
        width: 200px;
        font-size: 28px;
    }
    button:hover {
        height: 80px;
        width: 200px;
        font-size: 28px;
    }
    button:active {
        height: 80px;
        width: 200px;
        font-size: 28px;
    }
    .city {
        font-size: 32px;
    }
    .country {
        color: #01ff45;
        font-size: 50px;
    }
    .contact-info {
        font-size: 28px;
    }
}


@media only screen and (max-width: 1450px) {
    .nav-link{
        font-size: 42px;
    }
}
@media only screen and (max-width: 1200px) {
    .nav-link{
        font-size: 36px;
    }
}
@media only screen and (max-width: 1050px) {
    .navbar {
        flex-direction: column;
        background-color: #0dd61a;
    }
}